<%- include("includes/header.ejs") %>

<!DOCTYPE html>
<div id="mainPage">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <% if (type === 'l') { %>
    <title>Login</title>
    <% } else if (type === 's') { %>
    <title>Sign up</title>
    <% } else if (type === 'f') { %>
    <title>Forgot Password</title>
    <% } else { %>
    <title>Reset Password</title>
    <% } %>
    <link rel="stylesheet" href="css/form-page.css">
    <script src="js/form-page.js"></script>
</head>
<body>
    <div class="form-container">
        <% if (type === 'l') { %>
        <form action="/auth" method="POST">
        <h2>Login</h2>
        <% } else if (type === 's') { %>
        <form action="/sign-up" method="POST">
        <h2>Sign up</h2>
        <% } else if (type === 'f') { %>
        <form action="/forgot-password" method="POST">
        <h2>Forgot Password</h2>
        <% } else if (type === 'r') { %>
        <form action="/reset-password" method="POST">
        <h2>Reset Password</h2>   
        <% } else if (type === 'a') { %>
        <form action="/add-account" method="POST">
        <h2>Create Acccount</h2>        
        <% } if (type !== 'l' && type !== 'r') { %>
        <div class="input-group">
            <label for="Email">Email</label>
            <input type="Email" id="Email" name="Email" required>
        </div>
        <% } if (type === 's') { %>
            <div class="input-group">
                <label for="FirstName">First Name</label>
                <input type="text" id="FirstName" name="FirstName" required>
            </div>
            <div class="input-group">
                <label for="LastName">Last Name</label>
                <input type="text" id="LastName" name="LastName" required>
            </div>

            <div class="input-group">
                <label for="Comment">Comment</label>
                <textarea name="Comment" id="Comment"></textarea>
            </div>

        <% } if (type !== 'f') { %>
            <% if (type !== 'r') { %> 
            <div class="input-group">
                <label for="Username">Username</label>
                <input type="text" id="Username" name="Username" <% if (type === 'a') { %> 
                    required
                <% } %>>
            </div>
            <% } %>
            <div class="input-group">
                <label for="Password">Password</label>
                <input type="Password" id="Password" name="Password" <% if (type === 'a') { %> 
                    required
                <% } %>>
            </div>
        <% } %>
            <% if (type === 'r') { %>
                <input type="hidden" name="token" id="token" value=<%= token %>>
                <input type="hidden" name="email" id="email" value=<%= email %>>
                <input type="hidden" name="tempCode" id="tempCode" value=<%= tempCode %>>
            <% } if (type === 'l') { %>
                <button type="button" onclick="window.location.href = '/forgot-password'" class="forgot-password">Forgot Password</button>
                <div class="input-group">
                    <button type="submit">Login</button>
                </div>
            <% } else if (type === 's' || type === 'a') { %>
                <button type="button" onclick="window.location.href = '/login'" class="forgot-password">Login</button>
                <div class="input-group">
                    <button type="submit">Sign Up</button>
                </div>
            <% } else { %>
                <div class="input-group">
                    <button type="submit">Reset Password</button>
                </div>
            <% } %>
            <input type="hidden" name="returnUrl" value=<%= locals.return_url %>>
        </form>
    </div>
</body>
</html>
</div>
<%- include("includes/footer.ejs") %>
